.flaticon-4x4-adventure-sportive-transport-side-view:before {
	content: "\e001";
}
.flaticon-8-kg-weight-for-sports:before {
	content: "\e002";
}
.flaticon-acrobat-posture-silhouette-with-head-down-and-legs-up:before {
	content: "\e003";
}
.flaticon-acrobatics-acrobats-group-silhouette:before {
	content: "\e004";
}
.flaticon-adventure-sport-on-a-car:before {
	content: "\e005";
}
.flaticon-adventure-sport-silhouettes:before {
	content: "\e006";
}
.flaticon-american-football-ball:before {
	content: "\e007";
}
.flaticon-american-football-clothes:before {
	content: "\e008";
}
.flaticon-american-football-helmet-side-view-black-silhouette:before {
	content: "\e009";
}
.flaticon-american-football-player:before {
	content: "\e00a";
}
.flaticon-arrow-shoot-on-target-center:before {
	content: "\e00b";
}
.flaticon-artistic-gymnast-posture-with-ribbon:before {
	content: "\e00c";
}
.flaticon-artistic-gymnast-silhouette:before {
	content: "\e00d";
}
.flaticon-artistic-gymnastics:before {
	content: "\e00e";
}
.flaticon-athlete-jumping-silhouette:before {
	content: "\e00f";
}
.flaticon-athlete:before {
	content: "\e010";
}
.flaticon-badminton-ball:before {
	content: "\e011";
}
.flaticon-badminton-player:before {
	content: "\e012";
}
.flaticon-baseball-ball:before {
	content: "\e013";
}
.flaticon-baseball-bat-silhouette:before {
	content: "\e014";
}
.flaticon-baseball-glove:before {
	content: "\e015";
}
.flaticon-baseball-helmet:before {
	content: "\e016";
}
.flaticon-baseball-player:before {
	content: "\e017";
}
.flaticon-basketball-ball-1:before {
	content: "\e018";
}
.flaticon-basketball-ball:before {
	content: "\e019";
}
.flaticon-basketball-frontal-basket:before {
	content: "\e01a";
}
.flaticon-basketball-paralympic-silhouette:before {
	content: "\e01b";
}
.flaticon-basketball-player-1:before {
	content: "\e01c";
}
.flaticon-basketball-player-silhouette-with-the-ball:before {
	content: "\e01d";
}
.flaticon-basketball-player-with-the-ball:before {
	content: "\e01e";
}
.flaticon-basketball-player:before {
	content: "\e01f";
}
.flaticon-basketball:before {
	content: "\e020";
}
.flaticon-beach-soccer-player-running-with-the-ball-on-the-sand:before {
	content: "\e021";
}
.flaticon-billiard-balls-set-inside-the-triangle-and-the-stick-at-one-side:before {
	content: "\e022";
}
.flaticon-black-baseball-ball:before {
	content: "\e023";
}
.flaticon-black-eight-billiard-ball:before {
	content: "\e024";
}
.flaticon-black-horse-chess-piece-shape:before {
	content: "\e025";
}
.flaticon-black-tower-chess-piece-shape:before {
	content: "\e026";
}
.flaticon-boat-on-water:before {
	content: "\e027";
}
.flaticon-bobsleigh-olympic-sport:before {
	content: "\e028";
}
.flaticon-boot-tall-and-black:before {
	content: "\e029";
}
.flaticon-bowling-ball:before {
	content: "\e02a";
}
.flaticon-bowling-bowls-silhouette:before {
	content: "\e02b";
}
.flaticon-bowling:before {
	content: "\e02c";
}
.flaticon-box-gloves:before {
	content: "\e02d";
}
.flaticon-boxing-boxer-short:before {
	content: "\e02e";
}
.flaticon-boxing-silhouette:before {
	content: "\e02f";
}
.flaticon-bridge-cards:before {
	content: "\e030";
}
.flaticon-bridge:before {
	content: "\e031";
}
.flaticon-camels-race-1:before {
	content: "\e032";
}
.flaticon-camels-race-2:before {
	content: "\e033";
}
.flaticon-camels-race:before {
	content: "\e034";
}
.flaticon-car-race-circuit:before {
	content: "\e035";
}
.flaticon-charreria-multisport-symbol-of-a-horse-with-a-cowboy:before {
	content: "\e036";
}
.flaticon-charreria-silhouette-of-a-cowboy-with-lace-on-a-horse:before {
	content: "\e037";
}
.flaticon-chess-board-of-rounded-square-shape:before {
	content: "\e038";
}
.flaticon-chess-pawn-black-shape-side-view:before {
	content: "\e039";
}
.flaticon-climbing-adventure-silhouette:before {
	content: "\e03a";
}
.flaticon-climbing-equipment:before {
	content: "\e03b";
}
.flaticon-climbing-silhouette-1:before {
	content: "\e03c";
}
.flaticon-climbing-silhouette:before {
	content: "\e03d";
}
.flaticon-climbing:before {
	content: "\e03e";
}
.flaticon-criquet-ball:before {
	content: "\e03f";
}
.flaticon-criquet-silhouette:before {
	content: "\e040";
}
.flaticon-criquet:before {
	content: "\e041";
}
.flaticon-dagger:before {
	content: "\e042";
}
.flaticon-diver-silhouette:before {
	content: "\e043";
}
.flaticon-dove-races:before {
	content: "\e044";
}
.flaticon-dumbbell:before {
	content: "\e045";
}
.flaticon-equestrian-competition:before {
	content: "\e046";
}
.flaticon-equestrian-race:before {
	content: "\e047";
}
.flaticon-extreme-skydiving:before {
	content: "\e048";
}
.flaticon-extreme-snowboard-silhouette:before {
	content: "\e049";
}
.flaticon-extreme-sport-acrobats-couple:before {
	content: "\e04a";
}
.flaticon-female-boxing-silhouette-of-a-young-woman:before {
	content: "\e04b";
}
.flaticon-female-swimsuit-sport-wear:before {
	content: "\e04c";
}
.flaticon-fight-ring:before {
	content: "\e04d";
}
.flaticon-fighter-mask:before {
	content: "\e04e";
}
.flaticon-fish-hanging:before {
	content: "\e04f";
}
.flaticon-fisher-fishing:before {
	content: "\e050";
}
.flaticon-flying-doves-group:before {
	content: "\e051";
}
.flaticon-football-annotation:before {
	content: "\e052";
}
.flaticon-four-bridge-cards-symbols:before {
	content: "\e053";
}
.flaticon-golf-bag-equipment-with-sticks-set:before {
	content: "\e054";
}
.flaticon-golf-ball:before {
	content: "\e055";
}
.flaticon-golf-cart-side-view-facing-left:before {
	content: "\e056";
}
.flaticon-golf-player:before {
	content: "\e057";
}
.flaticon-gymnast-posture-silhouette:before {
	content: "\e058";
}
.flaticon-halterofilia-paralympics:before {
	content: "\e059";
}
.flaticon-head-cover-for-waterpolo:before {
	content: "\e05a";
}
.flaticon-hiker-silhouette-on-mountain:before {
	content: "\e05b";
}
.flaticon-hiking-hikers-on-mountain:before {
	content: "\e05c";
}
.flaticon-hiking-person-silhouette-with-a-stick:before {
	content: "\e05d";
}
.flaticon-hockey-equipment:before {
	content: "\e05e";
}
.flaticon-hockey-helmet:before {
	content: "\e05f";
}
.flaticon-hockey-player-silhouette:before {
	content: "\e060";
}
.flaticon-hunter-hunting-with-bow-and-arrow:before {
	content: "\e061";
}
.flaticon-hunting-archery-arch-and-arrows-tools-for-weapons:before {
	content: "\e062";
}
.flaticon-hunting-arm-silhouette:before {
	content: "\e063";
}
.flaticon-hunting-with-arm:before {
	content: "\e064";
}
.flaticon-ice-hockey-player:before {
	content: "\e065";
}
.flaticon-ice-hockey-team-player:before {
	content: "\e066";
}
.flaticon-ice-skating-silhouette-1:before {
	content: "\e067";
}
.flaticon-ice-skating-silhouette:before {
	content: "\e068";
}
.flaticon-individual-gym-practice-black-silhouette-posture-of-a-gymnast-with-raised-arms-and-one-leg-back:before {
	content: "\e069";
}
.flaticon-individual-gymnast-on-rings:before {
	content: "\e06a";
}
.flaticon-individual-gymnast-practice-with-a-ball:before {
	content: "\e06b";
}
.flaticon-individual-pentatlon-male-silhouette:before {
	content: "\e06c";
}
.flaticon-individual-skiing-silhouette:before {
	content: "\e06d";
}
.flaticon-individual-triathlon:before {
	content: "\e06e";
}
.flaticon-jet-boating-on-water:before {
	content: "\e06f";
}
.flaticon-jet-boating-side-view-black-silhouette:before {
	content: "\e070";
}
.flaticon-jet-boating-sport-silhouette:before {
	content: "\e071";
}
.flaticon-jockey-and-horse-in-competition:before {
	content: "\e072";
}
.flaticon-jockey-helmet:before {
	content: "\e073";
}
.flaticon-jumping-silhouette-1:before {
	content: "\e074";
}
.flaticon-jumping-silhouette-2:before {
	content: "\e075";
}
.flaticon-jumping-silhouette:before {
	content: "\e076";
}
.flaticon-kickboxing-equipment:before {
	content: "\e077";
}
.flaticon-kitesurf-1:before {
	content: "\e078";
}
.flaticon-kitesurf:before {
	content: "\e079";
}
.flaticon-kitesurfing:before {
	content: "\e07a";
}
.flaticon-lacrosse-equipment:before {
	content: "\e07b";
}
.flaticon-lacrosse-racquets-couple:before {
	content: "\e07c";
}
.flaticon-lacrosse-silhouette-of-a-person-with-a-racquet:before {
	content: "\e07d";
}
.flaticon-luge-olympic-game-silhouette:before {
	content: "\e07e";
}
.flaticon-martial-art-posture-silhouette:before {
	content: "\e07f";
}
.flaticon-martial-arts-clothes:before {
	content: "\e080";
}
.flaticon-martial-arts-couple-fight:before {
	content: "\e081";
}
.flaticon-martial-arts-fighter-silhouette:before {
	content: "\e082";
}
.flaticon-motor-sports-circuit:before {
	content: "\e083";
}
.flaticon-motorcycle-black-side-view-silhouette:before {
	content: "\e084";
}
.flaticon-motorcycle-sportive-silhouette:before {
	content: "\e085";
}
.flaticon-motorcycle-traveller-silhouette:before {
	content: "\e086";
}
.flaticon-motorcyclist-helmet-side-view:before {
	content: "\e087";
}
.flaticon-motoring-car:before {
	content: "\e088";
}
.flaticon-motoring:before {
	content: "\e089";
}
.flaticon-mountain-cycling-cyclist-silhouette:before {
	content: "\e08a";
}
.flaticon-mountain-cycling:before {
	content: "\e08b";
}
.flaticon-mountain-running-silhouette:before {
	content: "\e08c";
}
.flaticon-mountain-shoe-boot:before {
	content: "\e08d";
}
.flaticon-olympic-biathlon-sport-silhouette:before {
	content: "\e08e";
}
.flaticon-olympic-biatlon:before {
	content: "\e08f";
}
.flaticon-olympic-bobsleigh-moving-silhouette:before {
	content: "\e090";
}
.flaticon-olympic-bobsleigh-sport:before {
	content: "\e091";
}
.flaticon-olympic-curling-player:before {
	content: "\e092";
}
.flaticon-olympic-curling-silhouette:before {
	content: "\e093";
}
.flaticon-olympic-curling-sport-equipment:before {
	content: "\e094";
}
.flaticon-olympic-judo-couple-silhouette:before {
	content: "\e095";
}
.flaticon-olympic-judo-silhouettes-fight:before {
	content: "\e096";
}
.flaticon-olympic-judo-silhouettes:before {
	content: "\e097";
}
.flaticon-olympic-luge-silhouette-from-top-view:before {
	content: "\e098";
}
.flaticon-olympic-skeleton-silhouette-1:before {
	content: "\e099";
}
.flaticon-olympic-skeleton-silhouette:before {
	content: "\e09a";
}
.flaticon-olympic-skeleton:before {
	content: "\e09b";
}
.flaticon-olympic-sport-skeleton-silhouette:before {
	content: "\e09c";
}
.flaticon-olympic-weightlifting-side-silhouette:before {
	content: "\e09d";
}
.flaticon-paralympic-alpine-ski-silhouette:before {
	content: "\e09e";
}
.flaticon-paralympic-alpine-skiing-silhouette:before {
	content: "\e09f";
}
.flaticon-paralympic-basketball-silhouette-of-a-player-on-wheels-chair:before {
	content: "\e0a0";
}
.flaticon-paralympic-basketball-silhouette:before {
	content: "\e0a1";
}
.flaticon-paralympic-basketball:before {
	content: "\e0a2";
}
.flaticon-paralympic-cycling:before {
	content: "\e0a3";
}
.flaticon-paralympic-fencing:before {
	content: "\e0a4";
}
.flaticon-paralympic-games-runner:before {
	content: "\e0a5";
}
.flaticon-paralympic-judo-1:before {
	content: "\e0a6";
}
.flaticon-paralympic-judo-couple-silhouette:before {
	content: "\e0a7";
}
.flaticon-paralympic-judo:before {
	content: "\e0a8";
}
.flaticon-paralympic-rowing-silhouette:before {
	content: "\e0a9";
}
.flaticon-paralympic-rowing:before {
	content: "\e0aa";
}
.flaticon-paralympic-sailing-boat-1:before {
	content: "\e0ab";
}
.flaticon-paralympic-sailing-boat:before {
	content: "\e0ac";
}
.flaticon-paralympic-shooting-silhouette:before {
	content: "\e0ad";
}
.flaticon-paralympic-shooting-with-arch:before {
	content: "\e0ae";
}
.flaticon-paralympic-shot:before {
	content: "\e0af";
}
.flaticon-paralympic-skiing:before {
	content: "\e0b0";
}
.flaticon-paralympic-swimming-silhouette:before {
	content: "\e0b1";
}
.flaticon-paralympic-swimming-symbol:before {
	content: "\e0b2";
}
.flaticon-paralympic-swimming:before {
	content: "\e0b3";
}
.flaticon-paralympic-swordplay-silhouettes:before {
	content: "\e0b4";
}
.flaticon-paralympic-swordplay:before {
	content: "\e0b5";
}
.flaticon-paralympic-table-tennis-silhouette:before {
	content: "\e0b6";
}
.flaticon-paralympic-table-tennis:before {
	content: "\e0b7";
}
.flaticon-paralympic-tennis-player:before {
	content: "\e0b8";
}
.flaticon-paralympic-tennis-practice-by-a-person-on-wheel-chair:before {
	content: "\e0b9";
}
.flaticon-paralympic-tennis-silhouette-on-wheel-chair:before {
	content: "\e0ba";
}
.flaticon-paralympic-weightlifting-lying-silhouette:before {
	content: "\e0bb";
}
.flaticon-paralympic-weightlifting-silhouette:before {
	content: "\e0bc";
}
.flaticon-paralympic-weightlifting:before {
	content: "\e0bd";
}
.flaticon-paralympics-cycling-1:before {
	content: "\e0be";
}
.flaticon-paralympics-cycling-cyclist:before {
	content: "\e0bf";
}
.flaticon-paralympics-cycling:before {
	content: "\e0c0";
}
.flaticon-paralympics-swimming-swimmer:before {
	content: "\e0c1";
}
.flaticon-paratrooper-falling-silhouette:before {
	content: "\e0c2";
}
.flaticon-parkour-extreme-sport-silhouette:before {
	content: "\e0c3";
}
.flaticon-parkour-silhouette-of-extreme-sport:before {
	content: "\e0c4";
}
.flaticon-parkour-sport-silhouette:before {
	content: "\e0c5";
}
.flaticon-pentathlon-individual-silhouettes-couple:before {
	content: "\e0c6";
}
.flaticon-pentathlon-silhouette:before {
	content: "\e0c7";
}
.flaticon-person-playing-billiard:before {
	content: "\e0c8";
}
.flaticon-person-practicing-kickboxing:before {
	content: "\e0c9";
}
.flaticon-person-standing-on-top-of-a-mountain:before {
	content: "\e0ca";
}
.flaticon-person-swimming:before {
	content: "\e0cb";
}
.flaticon-person-throwing-bowling-ball:before {
	content: "\e0cc";
}
.flaticon-person-with-hat-riding-on-a-horse:before {
	content: "\e0cd";
}
.flaticon-ping-pong-player:before {
	content: "\e0ce";
}
.flaticon-ping-pong-silhouettes:before {
	content: "\e0cf";
}
.flaticon-polo-silhouette-1:before {
	content: "\e0d0";
}
.flaticon-polo-silhouette:before {
	content: "\e0d1";
}
.flaticon-races-circuit:before {
	content: "\e0d2";
}
.flaticon-racquetball-racquet:before {
	content: "\e0d3";
}
.flaticon-racquetball-silhouette:before {
	content: "\e0d4";
}
.flaticon-riding-equipment:before {
	content: "\e0d5";
}
.flaticon-road-circuit:before {
	content: "\e0d6";
}
.flaticon-rodeo-silhouette-of-a-mammal-with-a-cowboy-riding-on-him-with-a-rope-to-catch-his-neck:before {
	content: "\e0d7";
}
.flaticon-rodeo-silhouette:before {
	content: "\e0d8";
}
.flaticon-rodeo:before {
	content: "\e0d9";
}
.flaticon-rowing-silhouette:before {
	content: "\e0da";
}
.flaticon-rugby-player-running-with-the-ball:before {
	content: "\e0db";
}
.flaticon-runner-shoe:before {
	content: "\e0dc";
}
.flaticon-runner:before {
	content: "\e0dd";
}
.flaticon-sailing-boat:before {
	content: "\e0de";
}
.flaticon-scrabble-letter:before {
	content: "\e0df";
}
.flaticon-scrabble-rounded-checkered-square:before {
	content: "\e0e0";
}
.flaticon-scrabble-sport-word:before {
	content: "\e0e1";
}
.flaticon-shooting-1:before {
	content: "\e0e2";
}
.flaticon-shooting-target:before {
	content: "\e0e3";
}
.flaticon-shooting-with-arch-silhouette:before {
	content: "\e0e4";
}
.flaticon-shooting:before {
	content: "\e0e5";
}
.flaticon-shot-putter-silhouette:before {
	content: "\e0e6";
}
.flaticon-shot-putter:before {
	content: "\e0e7";
}
.flaticon-skateboard-1:before {
	content: "\e0e8";
}
.flaticon-skateboard-2:before {
	content: "\e0e9";
}
.flaticon-skateboard-extreme-sport-silhouette:before {
	content: "\e0ea";
}
.flaticon-skateboard-sportive-skater-skating-silhouette:before {
	content: "\e0eb";
}
.flaticon-skateboard:before {
	content: "\e0ec";
}
.flaticon-skater-silhouette:before {
	content: "\e0ed";
}
.flaticon-skii-equipment:before {
	content: "\e0ee";
}
.flaticon-skiing-equipment:before {
	content: "\e0ef";
}
.flaticon-skiing-silhouette:before {
	content: "\e0f0";
}
.flaticon-skydiving-silhouette-falling:before {
	content: "\e0f1";
}
.flaticon-snowboard-equipment:before {
	content: "\e0f2";
}
.flaticon-snowboard-silhouette:before {
	content: "\e0f3";
}
.flaticon-soccer-ball-1:before {
	content: "\e0f4";
}
.flaticon-soccer-ball:before {
	content: "\e0f5";
}
.flaticon-soccer-field-from-top-view:before {
	content: "\e0f6";
}
.flaticon-soccer-goal:before {
	content: "\e0f7";
}
.flaticon-soccer-player-running-with-the-ball-1:before {
	content: "\e0f8";
}
.flaticon-soccer-player-running-with-the-ball:before {
	content: "\e0f9";
}
.flaticon-soccer-player-standing-with-the-ball-under-one-feet:before {
	content: "\e0fa";
}
.flaticon-soccer-shoe:before {
	content: "\e0fb";
}
.flaticon-soccer-trophy:before {
	content: "\e0fc";
}
.flaticon-softball-player:before {
	content: "\e0fd";
}
.flaticon-speed-skating-silhouette:before {
	content: "\e0fe";
}
.flaticon-speed-skiing:before {
	content: "\e0ff";
}
.flaticon-sportive-circuit-to-test-vehicles:before {
	content: "\e100";
}
.flaticon-squash-ball:before {
	content: "\e101";
}
.flaticon-squash:before {
	content: "\e102";
}
.flaticon-strong-man-silhouette-with-weight:before {
	content: "\e103";
}
.flaticon-strong-man-silhouette:before {
	content: "\e104";
}
.flaticon-surf-board:before {
	content: "\e105";
}
.flaticon-surf-silhouette:before {
	content: "\e106";
}
.flaticon-surfing-board:before {
	content: "\e107";
}
.flaticon-swimmer-diving-to-water:before {
	content: "\e108";
}
.flaticon-swimmer-silhouette-on-water:before {
	content: "\e109";
}
.flaticon-swimming-equipment:before {
	content: "\e10a";
}
.flaticon-synchronized-swimming-swimmers-couple-legs-on-water-waves:before {
	content: "\e10b";
}
.flaticon-synchronized-swimming:before {
	content: "\e10c";
}
.flaticon-table-tennis-paralympic-sport-symbol:before {
	content: "\e10d";
}
.flaticon-taekwondo-couple-silhouettes:before {
	content: "\e10e";
}
.flaticon-taekwondo-helmet-silhouette:before {
	content: "\e10f";
}
.flaticon-taekwondo-silhouettes:before {
	content: "\e110";
}
.flaticon-tai-chi-chuan-helmet-head-cover-tool:before {
	content: "\e111";
}
.flaticon-tai-chi-chuan-person-silhouette-with-a-fight-sword:before {
	content: "\e112";
}
.flaticon-tai-chi-chuan-posture-silhouette:before {
	content: "\e113";
}
.flaticon-tai-chi-chuan-silhouette:before {
	content: "\e114";
}
.flaticon-tennis-ball:before {
	content: "\e115";
}
.flaticon-tennis-racquet:before {
	content: "\e116";
}
.flaticon-tent-shape:before {
	content: "\e117";
}
.flaticon-trail-running-shoe:before {
	content: "\e118";
}
.flaticon-triathlon-silhouettes-in-a-triangle:before {
	content: "\e119";
}
.flaticon-triathlon:before {
	content: "\e11a";
}
.flaticon-two-motor-flags:before {
	content: "\e11b";
}
.flaticon-two-persons-fighting-silhouettes:before {
	content: "\e11c";
}
.flaticon-vehicles-testing-circuit-for-motor-sports:before {
	content: "\e11d";
}
.flaticon-volleyball-ball:before {
	content: "\e11e";
}
.flaticon-volleyball-net-with-hand-silhouette:before {
	content: "\e11f";
}
.flaticon-volleyball-net:before {
	content: "\e120";
}
.flaticon-volleyball-silhouette:before {
	content: "\e121";
}
.flaticon-water-ski-silhouette:before {
	content: "\e122";
}
.flaticon-water-ski:before {
	content: "\e123";
}
.flaticon-waterpolo-athlete-silhouette-in-the-water:before {
	content: "\e124";
}
.flaticon-waterpolo-player-with-the-balls-in-the-water:before {
	content: "\e125";
}
.flaticon-weightlifting-silhouette-1:before {
	content: "\e126";
}
.flaticon-weightlifting-silhouette-2:before {
	content: "\e127";
}
.flaticon-weightlifting-silhouette-power-sport:before {
	content: "\e128";
}
.flaticon-weightlifting-silhouette:before {
	content: "\e129";
}
.flaticon-wheels-skate:before {
	content: "\e12a";
}
.flaticon-whip:before {
	content: "\e12b";
}
.flaticon-windsurf-silhouette:before {
	content: "\e12c";
}
